/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
ol, ul, li {list-style: none;}
a {display: block; text-decoration: none; color: #fff;}

/* Table styles */
td, th {
    text-align: left;
    padding: 0.5rem 1rem;
}
.col-1 {width: 5%;}
.col-2 {width: 15%;}
.col-3 {width: 35%;}
.col-4 {width: 20%;}
.col-5 {width: 10%;}

/* layout */
body {
    padding: 5px;
}
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}
.pagination i {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    padding: 0 .5rem;
    cursor: pointer;
}

#numbers {
    display: flex;
    flex-direction: row;

}
#numbers > li > a {
    padding: 5px 10px;
    border-radius: 50%;
}
#numbers > li > a.active {
    background-color: #fff;
    color: #333;
}

#my-table {
    width: 100%;
    margin-top: 10px;
}
thead tr {
    background-color: #555;
    border: 2px solid #fff;
    color: #fff;
}
thead tr th {
    text-align: left;
}
tbody tr {
    border: 2px solid #fff;
}
tbody tr:nth-child(2n) {
    background-color: #b9b9b9
}
tbody tr:nth-child(2n+1) {
    background-color: #e3e3e3;
}
tbody tr td {
}