:root {
    --slide-1-bg: #5b9ab0;
    --slide-2-bg: #785d8a;
    --slide-3-bg: #5465b3;
    --slide-4-bg: #13acaf;

    --slide-1-link: #205163;
    --slide-2-link: #33233D;
    --slide-3-link: #B39642;
    --slide-4-link: #B05B27;
}

/* reset */
* {
    box-sizing: border-box;
}
/* body */
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
}

/* slider */
.slider {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
    z-index: 0;
}
/* slide */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
}
.slide img {
    height: 100vh;
}
#slide-1 {
    background: var(--slide-1-bg);
    left: 0;
}
#slide-2 {
    background: var(--slide-2-bg);
    left: 100%;
}
#slide-3 {
    background: var(--slide-3-bg);
    left: 200%;
}
#slide-4 {
    background: var(--slide-4-bg);
    left: 300%;
}

/* pagination */
input {display: none;}
.pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6rem;
    z-index: 1;
}
#slide-radio-1:checked ~ .slide {transform: translateX(0);}
#slide-radio-2:checked ~ .slide {transform: translateX(-100%);}
#slide-radio-3:checked ~ .slide {transform: translateX(-200%);}
#slide-radio-4:checked ~ .slide {transform: translateX(-300%);}