:root {
    --slide-1-bg: #5b9ab0;
    --slide-2-bg: #785d8a;
    --slide-3-bg: #5465b3;
    --slide-4-bg: #13acaf;

    --slide-1-link: #205163;
    --slide-2-link: #33233D;
    --slide-3-link: #B39642;
    --slide-4-link: #B05B27;
}

/* reset */
* {
    box-sizing: border-box;
}
/* body */
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
}

/* slider */
.slider {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    overflow: hidden;
    z-index: 0;
}
/* slide */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
}
.slide img {
    display: block;
    height: 100vh;
}
#slide-1 {
    background: var(--slide-1-bg);
    left: 0;
}
#slide-2 {
    background: var(--slide-2-bg);
    left: 100%;
}
#slide-3 {
    background: var(--slide-3-bg);
    left: 200%;
}
#slide-4 {
    background: var(--slide-4-bg);
    left: 300%;
}

.slide h1 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 16px;
}
.slide h2{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;   
    margin-bottom: 64px;
}
.slide a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}

#slide-1 a {background: var(--slide-1-link);}
#slide-2 a {background: var(--slide-2-link);}
#slide-3 a {background: var(--slide-3-link);}
#slide-4 a {background: var(--slide-4-link);}

.slide a:hover{
    border-color: #fff;
    color: #fff;
    background: transparent !important;
}



/* pagination */
input {display: none;}
.pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6rem;
    z-index: 1;
}
#slide-radio-1:checked ~ .slide {transform: translateX(0);}
#slide-radio-2:checked ~ .slide {transform: translateX(-100%);}
#slide-radio-3:checked ~ .slide {transform: translateX(-200%);}
#slide-radio-4:checked ~ .slide {transform: translateX(-300%);}

.pagination label {
    width: 24px;
    height: 24px;
    padding: 16px;
    opacity: 0.3;
    cursor: pointer;
    position: relative;
    transition: opacity, 0.3s ease-in-out;
}
.pagination label::after, .pagination label::before {
    content: '';
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pagination label::before {
    width: 8px;
    height: 8px;
    background: #fff;
}
.pagination label::after {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    opacity: 0;
}

#slide-radio-1:checked ~ .pagination label:nth-child(1),
#slide-radio-2:checked ~ .pagination label:nth-child(2),
#slide-radio-3:checked ~ .pagination label:nth-child(3),
#slide-radio-4:checked ~ .pagination label:nth-child(4){
    opacity: 0.8;
}
#slide-radio-1:checked ~ .pagination label::after,
#slide-radio-2:checked ~ .pagination label::after,
#slide-radio-3:checked ~ .pagination label::after,
#slide-radio-4:checked ~ .pagination label::after{
    opacity: 1;
}


/* responsive */
@media screen and (min-width: 1200px){
    .slide{
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0 0 0 10rem;
    }
}