@charset "UTF-8";
body {}

.col-sm-4 {
    display: inline-block; 
    width: 33%; 
    height: auto; 
    padding: 10px;
    box-sizing: border-box;
}

.col-sm-4 img {width: 100%;}

[data-effect ^= "animate__fadeIn"]{
    opacity: 0;
}